body {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'kodchasan', sans-serif;
  background: white;
  color: #484A51;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  width: auto;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0 0;
}
p {
  margin: 0;
  padding: 0 0;
  font-size: 0.9em;
}
#section-centerTop {
  margin-top: 2.2em;
}
#section-features-all,
#section-centerTop,
#section-features-left,
#section-features-right,
#section-center {
  padding: 1em 2em;
  background: rgba(191, 238, 243, 0.288);
  color: #313237;
  margin: 1em 0;
}
#section-features-all ul,
#section-features-left ul,
#section-features-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#mainSiteImg {
  max-width: 100%;
  height: auto;
}
#section-features-left,
#section-features-right {
  display: none;
}
@media (min-width: 0px) and (max-width: 591px) {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  ul li {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    border: 1px solid #666769;
    border-radius: 4px;
    box-shadow: 5px 3px 3px #c0dee7;
    margin: 0.25em;
  }
  ul li h3 {
    margin-top: 1em;
    padding: 0;
  }
  ul li p {
    margin: 1em;
    padding: 0;
  }
}
@media (min-width: 592px) and (max-width: 920px) {
  #section-features-all ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  #section-features-all ul li {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    width: 45%;
    height: auto;
    border: 1px solid #666769;
    border-radius: 4px;
    box-shadow: 5px 3px 3px #c0dee7;
    margin: 0.25em;
  }
  #section-features-all ul li h3 {
    margin-top: 1em;
    padding: 0;
  }
  #section-features-all ul li p {
    margin: 1em;
    padding: 0;
  }
}
@media (min-width: 921px) and (max-width: 2000px) {
  #section-features-all ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  #section-features-all ul li {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    width: 32%;
    height: auto;
    border: 1px solid #666769;
    border-radius: 4px;
    box-shadow: 5px 3px 3px #c0dee7;
    margin: 0.25em;
  }
  #section-features-all ul li h3 {
    margin-top: 1em;
    padding: 0;
  }
  #section-features-all ul li p {
    margin: 3em 1em;
    padding: 0;
  }
}
strong {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@media (min-width: 0px) and (max-width: 591px) {
  nav {
    display: inline;
  }
}
@media (min-width: 0px) and (max-width: 591px) {
  nav a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #484A51;
    border: 1px solid #313237;
    border-radius: 4px;
    margin: 0.5em 0;
  }
}
@media (min-width: 0px) and (max-width: 591px) {
  .logo {
    display: flex;
    width: 100%;
    height: 75px;
    margin-bottom: 20px;
  }
}
@media (min-width: 592px) and (max-width: 920px) {
  nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media (min-width: 592px) and (max-width: 920px) {
  nav a {
    display: inline;
    justify-content: center;
    text-decoration: none;
    color: #484A51;
    border: 1px solid #313237;
    border-radius: 4px;
    margin: 0.5em 0;
    padding: 0 1em;
  }
}
@media (min-width: 592px) and (max-width: 920px) {
  nav.logo {
    display: inline-block;
    width: 50%;
    height: auto;
    margin: 1em 0%;
  }
}
@media (min-width: 921px) and (max-width: 2000px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
@media (min-width: 921px) and (max-width: 2000px) {
  nav a {
    display: inline;
    justify-content: center;
    text-decoration: none;
    color: #484A51;
    border: 1px solid #313237;
    border-radius: 4px;
    margin: 0.5em 0;
    padding: 0 1em;
  }
}
@media (min-width: 921px) and (max-width: 2000px) {
  .logo {
    display: flex;
    flex-wrap: nowrap;
    width: 1fr;
    height: auto;
  }
}
#section-bottomCenter {
  padding: 1em 2em;
  background: rgba(191, 238, 243, 0.288);
  color: #313237;
  margin: 1em 0;
}
#section-bottomCenter {
  margin-bottom: 0;
}
#footerBtn {
  display: inline-block;
  margin: 5em 0 0 0;
  background: #1AE7FF;
  color: 313237;
  text-decoration: none;
  padding: 0.5em 2em;
  border: 1px solid #313237;
  border-radius: 4px;
}
#footerBtn:hover {
  background: #00CEE5;
  color: white;
}
@media (min-width: 0px) and (max-width: 591px) {
  #headerBtn {
    display: inline-block;
    margin: 5em 0 0 0;
    background: #1AE7FF;
    color: 313237;
    text-decoration: none;
    padding: 0.5em 2em;
    border: 1px solid #313237;
    border-radius: 4px;
  }
  #headerBtn:hover {
    background: #00CEE5;
    color: white;
  }
}
@media (min-width: 0px) and (max-width: 591px) {
  #showcase {
    min-height: 450px;
    color: #484A51;
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 591px) {
  #showcase p {
    color: #484A51;
  }
}
@media (min-width: 0px) and (max-width: 591px) {
  #showcase .bg-image {
    position: absolute;
    background: white url(/img/background-calm-clouds-747964.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 92.75%;
    height: 450px;
    z-index: -1;
    opacity: 0.6;
  }
}
@media (min-width: 0px) and (max-width: 591px) {
  #showcase h1 {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 0px) and (max-width: 591px) {
  #showcase p {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.9em;
    color: black;
  }
}
@media (min-width: 0px) and (max-width: 591px) {
  #showcase .content-wrap,
  #section-centerTop {
    padding: 0.5em 1.5em;
  }
}
@media (min-width: 592px) and (max-width: 920px) {
  #headerBtn {
    display: inline-block;
    margin: 13em 0 0 0;
    background: #1AE7FF;
    color: 313237;
    text-decoration: none;
    padding: 0.5em 2em;
    border: 1px solid #313237;
    border-radius: 4px;
  }
  #headerBtn:hover {
    background: #00CEE5;
    color: white;
  }
}
@media (min-width: 592px) and (max-width: 920px) {
  #showcase {
    min-height: 450px;
    color: #484A51;
    text-align: center;
  }
}
@media (min-width: 592px) and (max-width: 920px) {
  #showcase p {
    color: #484A51;
  }
}
@media (min-width: 592px) and (max-width: 920px) {
  #showcase .bg-image {
    position: absolute;
    background: white url(/img/background-calm-clouds-747964.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
    height: 450px;
    z-index: -1;
    opacity: 0.6;
  }
}
@media (min-width: 592px) and (max-width: 920px) {
  #showcase h1 {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 592px) and (max-width: 920px) {
  #showcase p {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.9em;
  }
}
@media (min-width: 592px) and (max-width: 920px) {
  #showcase .content-wrap,
  #section-centerTop {
    padding: 0.5em 1.5em;
  }
}
@media (min-width: 921px) and (max-width: 2000px) {
  #headerBtn {
    display: inline-block;
    margin: 5em 0 0 0;
    background: #1AE7FF;
    color: 313237;
    text-decoration: none;
    padding: 0.5em 2em;
    border: 1px solid #313237;
    border-radius: 4px;
  }
  #headerBtn:hover {
    background: #00CEE5;
    color: white;
  }
}
@media (min-width: 921px) and (max-width: 2000px) {
  #showcase {
    min-height: 450px;
    color: #484A51;
    text-align: center;
  }
}
@media (min-width: 921px) and (max-width: 2000px) {
  #showcase p {
    color: #484A51;
  }
}
@media (min-width: 921px) and (max-width: 2000px) {
  #showcase .bg-image {
    position: absolute;
    background: white url(/img/background-calm-clouds-747964.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 98%;
    height: 450px;
    z-index: -1;
    opacity: 0.6;
  }
}
@media (min-width: 921px) and (max-width: 2000px) {
  #showcase h1 {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 921px) and (max-width: 2000px) {
  #showcase p {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.9em;
  }
}
@media (min-width: 921px) and (max-width: 2000px) {
  #showcase .content-wrap,
  #section-centerTop {
    padding: 0.5em 1.5em;
  }
}
