
#section-bottomCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
  background: rgba(191, 238, 243, 0.288);
  color: #313237;
  margin: 1em 0;
}

#footerBtn{
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 3em 0 0 0;
  background: #1AE7FF;
  color: 313237;
  text-decoration: none;
  padding: .5em 2em ;
  border: 1px solid #313237;
  border-radius: 4px; 
  &:hover{
    background: #00CEE5;
    color: white;
  }
}
#copyright{
  display: flex;
  justify-content: center;
  margin-top: 3em;
  border: 1px solid #666769;
  border-radius: 4px;
  box-shadow: 5px 3px 3px rgb(192, 222, 231);
  width: 25%;
}
#address {
  width: 100%;
  border: 1px solid #666769;
  border-radius: 4px;
  box-shadow: 5px 3px 3px rgb(192, 222, 231);
  margin-top: 2em;
}

