nav {
  display: inline;
}
 nav a{
   display: flex;
   justify-content: center;
  text-decoration: none;
  color: #484A51;
  border: 1px solid #313237;
  border-radius: 4px;
  margin: .5em 0;
}
.logo{
  display: flex;
  width: 100%;
  height: 75px;
  margin-bottom: 20px;
}
